<h1>Stories</h1>
<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card user-card">
            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content user-card-content center-align">
                <h5 class="user-card-title">{{title}}</h5>
                <p>{{stripTags (truncate body 150)}}</p>
                <br>
                <div class="chip"><img src="{{user.image}}" alt=""><a style="color: black;"
                        href="/stories/user/{{user._id}}">{{user.displayName}}</a></div>
            </div>
            <div class="card-action user-card-action center-align"><a href="/stories/{{_id}}"
                    class="btn user-story-more blue-grey darken-2">Read
                    More</a></div>
        </div>
    </div>
    {{else}}
    <p style="font-weight: 600;">No stories to display</p>
    {{/each}}
</div>